<!-- <footer>
    <ul class="social">
        <li><a href="https://twitter.com/lockecreatives" target="_blank" title="Locke Creatives on Twitter" alt="twitter.com/lockecreatives"><span class="fab fa-twitter-square"></span></a></li>
        <li><a href="https://facebook.com/lockecreatives" target="_blank" title="Locke Creatives on Facebook" alt="facebook.com/lockecreatives"><span class="fab fa-facebook-square"></span></a></li>
        <li><a href="https://youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw" target="_blank" title="Locke Creatives on YouTube" alt="youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw"><span class="fab fa-youtube-square"></span></a></li>
        <li><a href="https://github.com/LockeCreatives" target="_blank" title="Locke Creatives on GitHub" alt="github.com/LockeCreatives"><span class="fab fa-github-square"></span></a></li>
    </ul>
    <p>&copy; <script>document.write(new Date().getFullYear());</script> Locke Creatives Ltd</p>
    <ul>
        <li><a href="#" target="_blank" title="Site terms" alt="#">Terms</a></li>
        <li><a href="#" target="_blank" title="Privacy" alt="#">Privacy</a></li>
        <li><a href="#" target="_blank" title="Cookies" alt="#">Cookies</a></li>
    </ul>
</footer> -->

<footer>
    
    <div class="links-master-container">
        <a href="https://twitter.com/lockecreatives" target="_blank" title="Locke Creatives on Twitter" alt="twitter.com/lockecreatives"><span class="fab fa-twitter-square"></span></a>
        <a href="https://facebook.com/lockecreatives" target="_blank" title="Locke Creatives on Facebook" alt="facebook.com/lockecreatives"><span class="fab fa-facebook-square"></span></a>
        <a href="https://youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw" target="_blank" title="Locke Creatives on YouTube" alt="youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw"><span class="fab fa-youtube-square"></span></a>
        <a href="https://github.com/LockeCreatives" target="_blank" title="Locke Creatives on GitHub" alt="github.com/LockeCreatives"><span class="fab fa-github-square"></span></a>
    </div>

    <div class="terms-container">
        &copy; <script>document.write(new Date().getFullYear());</script> Locke Creatives Ltd
        <a href="#" target="_blank" title="Site terms" alt="#">Terms</a>
        <a href="#" target="_blank" title="Privacy" alt="#">Privacy</a>
        <a href="#" target="_blank" title="Cookies" alt="#">Cookies</a>
    </div>

    </footer>