<!-- <footer>
    <ul class="social">
        <li><a href="https://twitter.com/lockecreatives" target="_blank" title="Locke Creatives on Twitter" alt="twitter.com/lockecreatives"><span class="fab fa-twitter-square"></span></a></li>
        <li><a href="https://facebook.com/lockecreatives" target="_blank" title="Locke Creatives on Facebook" alt="facebook.com/lockecreatives"><span class="fab fa-facebook-square"></span></a></li>
        <li><a href="https://youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw" target="_blank" title="Locke Creatives on YouTube" alt="youtube.com/channel/UCaILwu8bQIIoaQZulEOGEAw"><span class="fab fa-youtube-square"></span></a></li>
        <li><a href="https://github.com/LockeCreatives" target="_blank" title="Locke Creatives on GitHub" alt="github.com/LockeCreatives"><span class="fab fa-github-square"></span></a></li>
    </ul>
    <h3>&copy; <script>document.write(new Date().getFullYear());</script> Locke Creatives Ltd</h3>
    <ul>
        <li><a href="#" target="_blank" title="Site terms" alt="#">Terms</a></li>
        <li><a href="#" target="_blank" title="Privacy" alt="#">Privacy</a></li>
        <li><a href="#" target="_blank" title="Cookies" alt="#">Cookies</a></li>
    </ul>
</footer> -->

<footer>
    
    <div id="links-master-container">
        <div class="legal-container">
            {{ partial "logo.html" }}

            <p>Funded by the <a href="https://www.r-consortium.org/"><img src="{{ "rc.png" | relURL }}" alt="Img link to R Consortium website" height="30"></a></p>
            <p>Except where otherwise noted, content on this site is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY license</a>.</p>
        </div>
        <div id="links-rhs-container">
            <div class="links-container">
                <h3>Info</h3>
                <a href="#" target="_blank" alt="#">What is R-Hub?</a>
                <a href="#" target="_blank" alt="#">R-Hub docs</a>
                <a href="#" target="_blank" alt="#">Screencasts</a>
            </div>
            
            <div class="links-container">
                <h3>Social</h3>
                <a href="#" target="_blank" alt="#">Blog</a>
                <a href="#" target="_blank" alt="#">Twitter</a>
            </div>
            
            <div class="links-container">
                <h3>Participate</h3>
                <a href="#" target="_blank" alt="#">Source code on GitHub</a>
                <a href="#" target="_blank" alt="#">Bug reports & feature requests</a>
                <a href="#" target="_blank" alt="#">Discussions</a>
            </div>
            
            <div class="links-container">
                <h3>Package Builder</h3>
                <a href="#" target="_blank" alt="#">Package Builder</a>
                <a href="#" target="_blank" alt="#">Package Buider from R</a>
                <a href="#" target="_blank" alt="#">Local debugging with Docker</a>
            </div>

            <div class="links-container">
                <h3>Other Services</h3>
                <a href="#" target="_blank" alt="#">CRAN source code mirror</a>
                <a href="#" target="_blank" alt="#">Download counts of CRAN packages</a>
                <a href="#" target="_blank" alt="#">Search CRAN packages</a>
                <a href="#" target="_blank" alt="#">Badges for CRAN packages</a>
                <a href="#" target="_blank" alt="#">Query R versions</a>
            </div>
        </div>
    </div>

    <div id="terms-container">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> R-Hub</p> 
        <a href="#" target="_blank" alt="#">Terms</a>
        <a href="#" target="_blank" alt="#">Privacy</a>
        <a href="#" target="_blank" alt="#">Cookies</a>
    </div>

    </footer>