<section class="page" id="{{ .Params.anchor }}">
    {{ if eq .Params.level 1 }}
    <h2>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
        <a href="{{ .Site.Params.editlink }}/blob/{{ .Site.Params.editBranch }}/content/{{ path.Join .File.Path }}"><i class="fas fa-edit"></i></a>
    </h2>
    {{ else }}
    <h3>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
        <a href="{{ .Site.Params.editlink }}/blob/{{ .Site.Params.editBranch }}/content/{{ path.Join .File.Path }}"><i class="fas fa-edit"></i></a>
    </h3>
    {{ end }}
    <div class="content">
        {{ .Content }}
    </div>
</section>
