{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}
<div class="content">
    {{ with .Sections }}
        {{ range .ByWeight }}

        {{ if ne .Title "R-hub dev docs" }}
            {{ partial "section_list.html" . }}
        {{ else }}
        <section class="page" id="{{ .Params.anchor }}">
        <h1>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
    </h1>
    <div class="content">
         Refer to <a href="/technical">R-hub dev docs</a>.
    </div>
          </section>
           {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ partial "tail.html" . }}
