/*----------------------------------------------------------------------------------------------------------------*/
/*---custom override CSS by Oz Locke, Locke Data Ltd. Please contact oz@itsalocke.com if there are any problems---*/
/*----------------------------------------------------------------------------------------------------------------*/

/*---------------*/
/* -- SIDEBAR -- */
/*---------------*/
body {
    font-family: 'Muli', sans-serif;
}

.sidebar {
    background-color: #F3F3F3 !important;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #eeeeee;
    color: #5c5c5c;
    font-weight: 300;
}

.sidebar li {
    margin-bottom: 3%;
}

.sidebar a {
    color: #2854A0 !important;
}

.sidebar a:hover, .sidebar a:active, .sidebar a:focus {
    color: #B0383C !important;
}

.current-link {
    color:black;
}

/* social links */
.sidebar .fas, .sidebar .fab {
    margin-right: 4%;
    margin-top: 5%;
    font-size: 2rem;
}

/*-----------------*/
/* -- SCROLLBAR -- */
/*-----------------*/

/* 
Code via: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar 
Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge.
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2854A0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #B0383C; 
  }

/*---------------*/
/* -- CONTENT -- */
/*---------------*/

.content {
    color: #4b4b4b;
    font-weight: 400;
}

.content h1 {
    border-left-color: #2854A0 !important;
    border-left-width: 2px !important;
}

.content a {
    color: #2854A0 !important;
    text-decoration: none;
    font-weight: 400;
}

.content a:hover, .content a:active, .content a:focus {
    color: #B0383C !important;
    text-decoration: none;
    font-weight: 400;
}

section.page {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
}

section .fas, section .fab {
    vertical-align: middle;
    margin-left: 5px;
    font-size: .5em;
    color: #919191;
}

section .fas:hover, section .fab:hover {
    vertical-align: middle;
    margin-left: 5px;
    font-size: .5em;
    color: #4b4b4b;
}

/*------------*/
/* --FOOTER-- */
/*------------*/

.oswald {
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color: #f3f2f3;
    color: #2854A0;
    text-align: left;
    padding: 40px 0;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* -- Flex settings -- */
footer div.links-master-container {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

footer div.links-container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

footer div.links-rhs-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

footer div.terms-container {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

footer p.terms-container {
    display: flex;
}
/* ----------------- */

@media(max-width: 800px) {
    footer {
        padding: 80px 50px;
    }
}

